/* style for buttons in history ID */
.history-btn {
    margin: 5px;
}

/* today div styles */
#today {
    padding-left: 5px;
}

.top-today {
    display: flex;
   
}

#forecast {
    flex-direction: column;
    margin: 0;
}

@media screen and (max-width: 580px) {
.forecast-cards {
    flex-direction: column;
}

}
